<div class="mat-display-1">View Category <span *ngIf="category">- {{ category.name }}</span></div>

<mat-tab-group *ngIf="category">
  <mat-tab label="Basic Information">
    <mat-card>
      <mat-card-content>
        <app-standard-display-field [field]="displayField" [formData]="category" *ngFor="let displayField of displayFields">
        </app-standard-display-field>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Services">
    <mat-card *ngFor="let providerService of providerServices">
      <mat-card-content>
        <app-standard-display-field [field]="displayField" [formData]="providerService" *ngFor="let displayField of itemDisplayFields">
        </app-standard-display-field>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Facilities">
    <mat-card *ngFor="let providerFacilitie of providerFacilities">
      <mat-card-content>
        <app-standard-display-field [field]="displayField" [formData]="providerFacilitie" *ngFor="let displayField of itemDisplayFields">
        </app-standard-display-field>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Stock Items">
    <mat-card *ngFor="let stockItem of stockItems">
      <mat-card-content>
        <app-standard-display-field [field]="displayField" [formData]="stockItem" *ngFor="let displayField of itemDisplayFields">
        </app-standard-display-field>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<!-- <h1>Category</h1>
<pre>{{ category | json }}</pre>
<h1>Services</h1>
<pre>{{ providerServices | json }}</pre>
<h1>Facilities</h1>
<pre>{{ providerFacilities | json }}</pre> -->