<mat-card class="card-md" *ngIf="registrationForm">
    <mat-card-header>
        <mat-card-title>{{ registrationForm.title }}</mat-card-title>
        <mat-card-subtitle>
            <app-standard-display-field [field]="{ name: 'description', noLabel: true }" [formData]="registrationForm">
            </app-standard-display-field>
        </mat-card-subtitle>
        <mat-card-subtitle>Please fill-in all the required fields marked with asterisks (*).</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form #form="ngForm" id="form" (ngSubmit)="form.valid && onSubmit()" *ngIf="mode === 'new'">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header class="bg-primary">
                    <mat-panel-title>
                        <h4>Basic Information</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-standard-form-field [field]="{ name: 'name', type: 'string', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.name"></app-standard-form-field>
                <app-standard-form-field [field]="{ name: 'gender', type: 'string', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.gender"></app-standard-form-field>
                <app-standard-form-field [field]="{ name: 'identityNumber', type: 'string', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.identityNumber">
                </app-standard-form-field>
                <app-standard-form-field [field]="{ name: 'email', type: 'string', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.email"></app-standard-form-field>
                <app-standard-form-field [field]="{ name: 'phoneNumber', type: 'string', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.phoneNumber">
                </app-standard-form-field>
                <app-standard-form-field [field]="{ name: 'organization', type: 'string', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.organization">
                </app-standard-form-field>
                <app-standard-form-field [field]="{ name: 'address', type: 'textarea', required: true }"
                    [(formData)]="attendeeData" *ngIf="registrationForm?.settings.address"></app-standard-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel expanded *ngIf="registrationForm?.fields.length > 0">
                <mat-expansion-panel-header class="bg-primary">
                    <mat-panel-title>
                        <h4>Detail Information</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let field of registrationForm?.fields">
                    <app-standard-form-field [field]="field" [(formData)]="formData"></app-standard-form-field>
                </div>
            </mat-expansion-panel>
        </form>

        <div *ngIf="mode === 'submitted'">
            Congratulation! You're registered the event successfully.
            <!-- <qrcode id="attendee_qrcode" [qrdata]="attendee?.code" [size]="256" [level]="'H'"></qrcode> -->
            <!-- Click <a href="{{qrcodeLink}}" download (click)="dlDataUrlBin()">here</a> to downlaod the QR Code. -->
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" form="form" *ngIf="mode === 'new'">
            <mat-icon>done</mat-icon> Register Now
        </button>
    </mat-card-actions>
</mat-card>