.tab-body {
  padding: 10px;
}

.view-field:nth-of-type(n + 2) {
  margin-top: 10px;
}

.view-field .mat-body {
  white-space: pre;
}

.btn-sm {
  line-height: 25px;
  font-size: 12px;
}

.btn-sm mat-icon {
  height: 12px;
  font-size: 16px;
  line-height: 10px;
}

.action-group button {
  margin: 0 5px;
}

button.active {
  background-color: #595959;
  color: #ffffff;
}

.info-group {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.info-group > * {
  margin-top: 10px;
  display: flex;
}

.info-group > * > *:first-of-type {
  flex-basis: 150px;
}

.btn-group {
  margin-top: 10px;
}

.btn-group button {
  margin-right: 10px;
}

.process-item {
  margin: 5px;
}

.btn-link {
  padding: 5px;
  min-width: auto;
  line-height: 15px;
}

.form {
  max-width: 50%;
}

.table.table-bordered {
  border: 1px #eee solid;
  margin-top: 10px;
}

.table td,
.table th {
  text-align: center;
  border-bottom: 1px #eee solid;
  padding: 10px;
}

.table.supplier-invoices td,
.table.supplier-invoices th,
.table.payment-vouchers td,
.table.payment-vouchers th {
  text-align-last: left;
}

.action-group {
  display: flex;
}

.action-group .btn-end {
  margin-left: auto;
}

.filter-wrapper > * {
  margin-right: 2px;
}

.supplier-invoice-wrapper > mat-card,
.payment-wrapper mat-card,
.payment-voucher-wrapper > mat-card {
  margin: 10px 0;
}

.supplier-invoice-wrapper > mat-card > mat-card-content,
.payment-wrapper mat-card > mat-card-content,
.payment-voucher-wrapper > mat-card > mat-card-content {
  padding: 16px;
}

.payment-wrapper mat-card {
  height: calc(100% - 52px);
  min-width: 30%;
}

.supplier-invoice-wrapper > mat-card > mat-card-content,
.payment-voucher-wrapper > mat-card > mat-card-content,
.payment-wrapper mat-card > mat-card-content {
  height: calc(100% - 110px);
}

.supplier-invoice-wrapper > mat-card,
.payment-voucher-wrapper > mat-card {
  min-width: 40%;
}

.table.table-bordered tr:hover {
  background-color: #ededed;
  cursor: pointer;
}

/* qrcode css */
::ng-deep .qr-scan-area{
    position: relative;
}
::ng-deep .qr-scan-area zxing-scanner {
      max-width: 100%;
    }

    .qr-area {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 50px);
      top: 0;
      width: 100%;
    }
    .qr-area .area {
        height: 200px;
        width: 200px;
        border: 2px solid red;
      }
    
.remarks {
  white-space: pre-wrap;
}

.form mat-expansion-panel {
  margin-bottom: 10px;
}
  
